.about_bgpage {
  background: url("../components/assets/images/dark-office.jpg");
  height: 100%;
  width: 100%;
  padding-top: 150px;
  position: relative;
}
.social-link .linkdincolor {
  color: #3574d6 !important;
}

.about_bgpage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border: 0;
  background-color: #000000c2;
}

.p-text {
  /* font-family: "Montserrat", sans-serif; */
  box-sizing: border-box;
  font-size: 17px;
  line-height: 1.875;
  padding-right: 56px;
  margin-top: 0px;
  color: #fff;
}

.service-Aboutheader .row.top-section .centered-section {
  padding: 0;
}

.service-Aboutheader .row.top-section .centered-section h1 {
  padding-top: 1%;
  font-size: 36px;
  color: #fff;
  line-height: 2;
  margin-bottom: 0;
  font-weight: bold;
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;800;900&display=swap"); */

.description-about-para {
  color: #fff;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 19px;
}

.people-section-team {
  width: 100%;
  background-size: cover;
  margin-top: 5%;
}

.our-team section.first-section .centered-section {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 600px;
  text-align: start;
}

.our-team section.first-section .centered-section h1 {
  /* font-family: Montserrat; */
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 24px;
  line-height: 1.2;
  letter-spacing: 2px;
}

.our-team section.first-section .centered-section .description {
  /* font-family: Montserrat; */
  font-size: 24px;
  max-width: px;
  margin-bottom: 48px;
  letter-spacing: 0.5px;
}

.our-team section.first-section .top-section {
  margin-top: 8%;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.our-team section.first-section .centered-section .caption {
  font-size: 17px;
  line-height: 32px;
  max-width: 450px;
}

.our-team .people-info-section .description {
  /* font-family: Montserrat; */
  font-size: 24px;
  line-height: 2;
  margin-top: 48px;
  font-weight: 400;
}

.centered-section {
  width: 100%;
  font-size: 155%;
  float: left;
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700;800;900&display=swap"); */

.people-info-head {
  padding: 81px 10px 10px 0;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 36px;
  color: #000;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: bold;
}

.centered-section .caption {
  /* font-family: "Montserrat", sans-serif; */
  font-size: 20px;
  line-height: 32px;
  border: 1px solid black;
  right: 20px;
  height: 450px;
  width: 48%;
  float: right;
}

.p {
  margin-left: 50px;
  padding-bottom: 10px;
}

.description {
  margin-left: 55px;
  color: #000;
}

.people-info-section {
  width: 48%;
  float: right;
}

.people-info-section {
  width: 100%;
  float: left;
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800;900&display=swap"); */

.description-text {
  /* font-family: "Montserrat", sans-serif; */
  text-align: justify;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 1.5;
  padding-right: 56px;
  margin-top: 3%;
  color: grey;
}

.our-team-bg-img {
  background: url("../components/assets/images/about-page-img-bg.jpg") no-repeat
    center;
  background-size: cover;
  width: 100%;
  height: 20vh;
}

.our-team-bg {
  padding-top: 0;
}

html .people-info-sectionNumber h2 {
  font-size: 36px;
  line-height: 40px;
  /* font-family: "Montserrat", sans-serif; */
}

.people-info-section {
  display: inline-block;
}

.span-number {
  display: flex;
  margin-top: 24px;
}

.people-info-sectionNumber {
  display: inline-block;
  padding-top: 81px;
  width: 100%;
}

.number {
  margin-right: 5px;
  color: #3574d6;
  /* font-family: Montserrat; */
  font-size: 36px;
  font-weight: 800;
  line-height: 47px;
  letter-spacing: 1px;
}

.caption {
  font-size: 17px;
  font-weight: 400;
  line-height: 45px;
  color: grey;
  /* font-family: "Montserrat", sans-serif; */
}

.team-section h2 {
  padding: 0px 0 40px;
  font-size: 30px;
  text-align: center;
}

.team-section-link {
  color: #000;
}

.team-section-link:hover {
  color: rgb(244 131 3);
}

.team-section .justify-content-center .team__image-wrapper h4 {
  font-size: 27px;
  padding-top: 7px;
  margin-bottom: 18px !important;
}

.team-section .justify-content-center .team__image-wrapper h5 {
  font-size: 15px;
}

.team-section h4 {
  font-size: 25px;
  font-weight: 600;
  line-height: 12px;
  /* font-family: "Montserrat", sans-serif; */
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 400px;
}

.img_slider .carousel-inner {
  height: 320px;
  object-fit: cover;
}

.team-section p {
  /* font-family: "Montserrat", sans-serif; */
  text-align: justify;
  font-size: 17px;
  line-height: 1.5;
  margin-top: 3%;
  color: grey;
  font-weight: 400;
}

.col-lg-6.col-md-12.col-sm-12.people-info-section {
  padding-left: 0;
}

.t-views .col-sm-12.col-md-12.col-lg-6 {
  padding-left: 0;
}

.team-section {
  position: relative;
  width: 95%;
  margin-bottom: 30px;
  padding: 50px 0px 50px;
}

.team__image-wrapper {
  padding-top: 1px;
  padding: 8px 20px;
}

.col-lg-6.slider-info p {
  padding: 30px 0px 12px;
}

.t-views:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(119, 119, 119);
  opacity: 0.2;
}

.t-views > * {
  z-index: 100;
  padding-top: 27px;
  padding-bottom: 27px;
}

.t-views {
  position: relative;
  min-height: 60vh;
  /* background-image: url("../../assets/img/bg_img.jpg"); */
  /* background: rgb(8, 100, 214);
  background: radial-gradient(circle, rgba(8, 100, 214, 0.9272844978932584) 0%, rgba(244, 131, 3, 1) 99%); */
  /* background-size: cover;   */
  display: flex;
  background: url("../components/assets/images/about-page-img-bg.jpg") no-repeat
    center center/cover;
}

.t-views::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000e0;
  content: "";
}

.t-views-head {
  margin: auto;
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700;800;900&display=swap"); */

.t-views-head {
  /* font-family: "Montserrat", sans-serif; */
  font-size: 36px;
  line-height: 56px;
  padding-top: 39px;
  margin-bottom: 48px;
  color: #fff;
}

h3.t-view-datail {
  color: #fff;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 19px;
  line-height: 1.875;
  padding-bottom: 50px;
}

.slider-info {
  width: 100%;
  color: #000;
  margin-top: 5%;
  padding: 0;
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700;800;900&display=swap"); */

.slider-info h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
  /* font-family: "Montserrat", sans-serif; */
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap"); */

.img_slider {
  width: 100%;
  float: right;
  margin-top: 30px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  opacity: 0 !important;
}

/* ------------------------------------------------ Contact Page Css --------------------------------------- */
.sliderimg {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.all-team {
  text-align: left;
}

.all-team .team-section-link {
  font-size: 16px;
  border-radius: 20px;
  width: 127px;
  text-align: center;
  border: 1px solid;
  padding: 10px 12px;
  border-radius: 30px;
}

h2.all-team {
  margin-left: 31px;
}
/*---------pawan css start---*/
.about-logo {
  background-image: url(../components/assets/images/pixel-home-page-keyfacts-image.png);
  background-size: cover;
}
.Elicit-in-Numbers {
  background-image: url(../components/assets/images/pixel-home-page-keyfacts-image2.png);
  background-size: cover;
}

.one-box {
  background: white;
  display: inline-block;
  width: 40%;
  transition: all 0.5s !important;
  font-size: -8px;
  text-align: center;
  padding: 34px 6px 34px 6px;
  float: right;
  margin-top: 0;
  position: absolute;
  right: 17px;
  top: 29px;
  border-radius: 10px;
  box-shadow: 0px 1px 12px 3px #f0ecec;
}

.section-dwon {
  position: relative;
}
/*.background-color{
  background: #e6e6e6;
}
*/

.two-box {
  background: white;
  transition: all 0.5s !important;
  display: inline-block;
  width: 34%;
  font-size: -8px;
  text-align: center;
  padding: 34px 20px 34px 20px;
  float: left;
  margin-top: 0;
  position: absolute;
  top: 50px;
  left: 0px;
  border-radius: 10px;
  box-shadow: 0px 1px 12px 3px #f0ecec;
}
.tree-box {
  transition: all 0.5s !important;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 251px;
  position: absolute;
  left: 0;
}

.center-box {
  width: 40%;
  background: white;
  box-shadow: 1xp 1px gray;
  margin-left: 114px;
  padding: 34px 20px 34px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 12px 3px #f0ecec;
}

.Elicit-in-Numbers .caption {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: black;
  /* font-family: "Montserrat", sans-serif; */
  vertical-align: top;
}
.for-box {
  background: white;
  transition: all 0.5s !important;
  display: inline-block;
  width: 42%;
  font-size: -8px;
  text-align: center;
  padding: 12px 20px 12px 20px;
  margin-top: 0;
  border-radius: 10px;
  position: absolute;
  right: -31px;
  top: 327px;
  box-shadow: 0px 1px 12px 3px #f0ecec;
}

.five-box {
  transition: all 0.5s !important;
  background: white;
  display: inline-block;
  width: 30%;
  text-align: center;
  padding: 12px 6px 12px 6px;
  float: left;
  margin-top: 0;
  border-radius: 10px;
  box-shadow: 0px 1px 12px 3px #f0ecec;
  position: absolute;
  top: 454px;
}

.about-logo img {
  width: 429px;
}
.six-box {
  background: white;
  display: inline-block;
  width: 40%;
  margin-left: 28px;
  text-align: center;
  padding: 12px 20px 12px 20px;
  margin-top: 0;
  border-radius: 10px;
  margin-top: 65px;
  box-shadow: 0px 1px 12px 3px #f0ecec;
  position: absolute;
  top: 457px;
  left: 156px;
  transition: all 0.5s !important;
}
.Elicit-in-Numbers .number {
  color: black;
}

/* @media (max-width: 1165px) {
.container {
  max-width: 1250px;
  padding: 0px 30px 0px 30px; 

}
}  */
@media only screen and (max-width: 767px) {
  .two-box {
    width: 45%;
    padding: 20px 10px 20px 10px;
  }

  .one-box {
    width: 48%;
    padding: 20px 6px 20px 6px;
    right: 5px;
  }
  .tree-box {
    margin-top: 200px;
  }
  .center-box {
    width: 40%;
    margin-left: 88px;
    padding: 20px 10px 20px 10px;
  }
  .Elicit-in-Numbers .caption {
    font-size: 12px !important;
  }
  .five-box {
    width: 38%;
  }
  .six-box {
    width: 51%;
    padding: 12px 10px 12px 10px;
    border-radius: 10px;
    margin-top: 145px;
    margin-left: 8px;
  }
  .for-box {
    width: 46%;
    padding: 12px 10px 12px 10px;
    right: 7px;
    top: 405px;
  }
  .section-dwon {
    height: 900px;
  }
  .section-dwon .boxLoadingblue::after {
    top: 646px !important;
    left: 13px !important;
  }
  .six-box {
    top: 409px;
    left: 137px;
  }
  .section-dwon .boxLoadingyellow::after {
    bottom: 120px;
    left: 113px;
  }
}
.boxLoadingblue {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.boxLoadingblue::before {
  content: "";
  /* width: 50px; */
  /* height: 5px; */
  /* background: #000; */
  /* opacity: 0.1; */
  /* position: absolute; */
  top: 59px;
  /* left: 0; */
  /* border-radius: 50%; */
  /* animation: shadow 0.5s linear infinite; */
}
.boxLoadingblue::after {
  content: "";
  width: 50px;
  height: 50px;
  background: transparent;
  position: absolute;
  top: 103px;
  left: 111px;
  border-radius: 100%;
  animation: animate 15s ease-in-out infinite;
  border: 5px solid #93d5f0;
  margin-bottom: 167px;
}
.boxLoadingreen {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.boxLoadingreen::before {
  content: "";
  /* width: 50px; */
  /* height: 5px; */
  /* background: #000; */
  /* opacity: 0.1; */
  /* position: absolute; */
  top: 59px;
  /* left: 0; */
  /* border-radius: 50%; */
  /* animation: shadow 0.5s linear infinite; */
}
.boxLoadingreen::after {
  content: "";
  width: 50px;
  height: 50px;
  background: transparent;
  position: absolute;
  bottom: 256px;
  right: 73px;
  border-radius: 0;
  animation: animate 15s ease-in-out infinite;
  border: 2px solid #81be3d;
  margin-bottom: 167px;
}
.boxLoadingyellow {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.boxLoadingyellow::before {
  content: "";
  /* width: 50px; */
  /* height: 5px; */
  /* background: #000; */
  /* opacity: 0.1; */
  /* position: absolute; */
  top: 59px;
  /* left: 0; */
  /* border-radius: 50%; */
  /* animation: shadow 0.5s linear infinite; */
}
.boxLoadingyellow::after {
  content: "";
  width: 90px;
  height: 90px;
  background: transparent;
  position: absolute;
  bottom: 120px;
  left: 113px;
  border-radius: 0;
  animation: animate 15s ease-in-out infinite;
  border: 2px solid #feee5c;
  margin-bottom: 167px;
}
.boxLoadingpink {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.boxLoadingpink::before {
  content: "";
  /* width: 50px; */
  /* height: 5px; */
  /* background: #000; */
  /* opacity: 0.1; */
  /* position: absolute; */
  top: 59px;
  /* left: 0; */
  /* border-radius: 50%; */
  /* animation: shadow 0.5s linear infinite; */
}
.boxLoadingpink::after {
  content: "";
  width: 50px;
  height: 50px;
  background: transparent;
  position: absolute;
  top: 156px;
  right: 100px;
  border-radius: 100%;
  animation: animate 15s ease-in-out infinite;
  border: 3px solid #ff9e9e;
  margin-bottom: 167px;
}
.boxLoadingblack {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.boxLoadingblack::before {
  content: "";
  /* width: 50px; */
  /* height: 5px; */
  /* background: #000; */
  /* opacity: 0.1; */
  /* position: absolute; */
  top: 59px;
  /* left: 0; */
  /* border-radius: 50%; */
  /* animation: shadow 0.5s linear infinite; */
}
.boxLoadingblack::after {
  content: "";
  width: 50px;
  height: 50px;
  background: transparent;
  position: absolute;
  top: 285px;
  left: 27px;
  border-radius: 0;
  animation: animate 15s ease-in-out infinite;
  border: 2px solid black;
  margin-bottom: 167px;
}
.section-dwon .boxLoadingpink::after {
  content: "";
  width: 50px;
  height: 50px;
  background: transparent;
  position: absolute;
  top: 156px;
  right: 286px;
  border-radius: 100%;
  animation: animate 15s ease-in-out infinite;
  border: 3px solid #ff9e9e;
  margin-bottom: 167px;
}
.section-dwon .boxLoadingblue::after {
  content: "";
  width: 50px;
  height: 50px;
  background: transparent;
  position: absolute;
  top: 589px;
  left: 450px;
  border-radius: 100%;
  animation: animate 15s ease-in-out infinite;
  border: 5px solid #93d5f0;
  margin-bottom: 167px;
}
.section-dwon .boxLoadingyellow::after {
  content: "";
  width: 90px;
  height: 90px;
  background: transparent;
  position: absolute;
  top: 289px;
  right: 0;
  border-radius: 0;
  animation: animate 15s ease-in-out infinite;
  border: 2px solid #feee5c;
  margin-bottom: 167px;
  border-left: none;
}
.section-dwon .boxLoadingblack::after {
  content: "";
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  top: 285px;
  left: 27px;
  border-radius: 0;
  animation: animate 15s ease-in-out infinite;
  border: 2px solid black;
  margin-bottom: 167px;
}
@keyframes animate {
  0% {
    transform: translate(-150px, 50px) scale(0.4) rotate(0deg);

    z-index: 1;
  }
  50% {
    transform: translate(150px, -50px) scale(0.4) rotate(180deg);

    z-index: 1;
  }
  50.00001% {
    transform: translate(150px, -50px) scale(0.4) rotate(180deg);

    z-index: 3;
  }
  100% {
    transform: translate(-150px, 50px) scale(0.4) rotate(360deg);

    z-index: 3;
  }
}

.team-section .all-team {
  text-align: center;
}
.section-dwon .span-number:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  z-index: 999;
}
/* .section-dwon .span-number .center-box:hover{
  transition: all .5s;
  transform: scale(1.1);
} */
@media (min-width: 768px) and (max-width: 1024px) {
  .section-dwon {
    position: relative;
    height: 682px;
  }
}
.background-color {
  overflow: hidden;
}
.section-dwon {
  height: 729px;
}

@media (min-width: 375px) and (max-width: 600px) {
  .slider-info {
    padding: 15px;
  }
}

/*---------pawan css end---*/

@media (max-width: 992px) {
  .centered-section {
    height: 450px !important;
  }
}

@media (max-width: 506px) {
  .centered-section {
    height: 500px !important;
  }
}

@media (max-width: 576px) {
  .centered-section {
    padding: 15px !important;
  }
}

@media (max-width: 425px) {
  .centered-section {
    height: 570px !important;
  }
}

@media (max-width: 375px) {
  .centered-section {
    height: 680px !important;
  }
}