/* .footer_container {
  background: url(../components/assets/images/footer_bg.png) no-repeat center
    top;
    background-size: cover;
}
.footer_service_list li {
  color: white;
  font-size: 14px;
  padding-bottom: 10px;
  width: 50%;
  float: left;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 11px;
}
.footer_service_list span {
  font-size: 25px;
  line-height: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
  top: 3px;
  color: #f48303;
}
.social_icons {
  border-radius: 50%;
  padding: 0;
  margin: 0 10px 10px 0;
  background-color: #f48303;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social_icons.linked_hover:hover {
  background-color: #0270ad;
}
.link_hover:hover {
  color: #f48303;
}
@media (max-width:768px) {
.footer_service_list li {
width: 100%;
}
} */


 
.section-footer {
  padding: 125px 0px 15px;
  background: url(../components/assets/images/footer_bg.png) no-repeat center top;
  color: #fff;
  position: relative;
  background-size: cover;
}
.socile-media-icons-custom .insta:hover {
  background: #f09433;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.section-footer h3 {
  font-weight: 600;
  color: #fff;
}

ul.contact-list li :hover {
  color: #f48303;
}
ul.contact-list li {
  list-style: none;
  position: relative;
  padding-bottom: 10px;
}

.contact-list p {
  padding-bottom: 0px;
}

ul.contact-list li:first-child .mat-icon {
  font-size: 30px;
}

ul.contact-list li .mat-icon {
  position: absolute;
  left: 0px;
  top: 2px;
  color: #f48303;
  font-size: 20px;
}

ul.footer-services li {
  font-size: 14px;
  padding-bottom: 10px;
  width: 50%;
  float: left;
  list-style: none;
}
ul.footer-services li:hover a {
  color: #f48303 !important;
}

ul.footer-services li span {
  font-size: 25px;
  line-height: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
  top: 3px;
  color: #f48303;
  margin-right: 11px;
}

ul.footer-services li a {
  color: #fff;
}

ul.footer-services li .footer_service_Hybrid_icon {
  /* width: 119%; */
  width: 100%;
}

.copyright-card {
  border-top: 1px solid rgb(119, 119, 119);
  color: #fff;
  margin-top: 10px !important;
}
.socile-media-icons-custom{
  display: flex;
}
.socile-media-icons-custom a.facebook svg {
  font-size: 21px;
}

.socile-media-icons-custom a {
  background-color: #f48303;
  color: #fff;
  height: 40px;
  width: 40px;
  font-size: 19px;
  border-radius: 50%;
  margin: 0 10px 10px 0;
  /* text-align: center; */
  line-height: 40px;
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.footer-location {
  font-size: 24px;
  margin-right: 16px;
  color: #f48303;
}

.col-lg-6.copy-right {
  color: grey;
  font-size: 16px;
  margin-top: 24px;
 }

.col-lg-6.copy-right2 {
  padding-left: 0;
  color: grey;
  margin-top: 25px;
}

.footer_service_Hybrid {
  margin-top: 8px;
}

.footer_service_Hybrid_icon {
  display: flex;
}

.section-footer .col-3.col-lg-4.col-md-3 {
  padding-right: 65px;
}

.section-footer p {
  color: #fff;
  font-size: 14px;
}

.section-footer h3 {
  font-size: 26px;
}

textarea.form-control {
  height: 100px;
  max-width: 100%;
  margin-top: 7%;
}
textarea.form-control {
  height: auto;
}
textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}
ontrol {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #aaadb1;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border: 1px solid #3d4852;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control select {
  background-color: grey;
}
input,
select,
textarea {
  font-size: 14px;
  line-height: 20px;
  /* padding: 10px 10px; */
  border: 1px solid #929292;
  background: rgb(255, 253, 253);
  border-radius: 5px;
  color: #aaadb1;
  width: 100%;
}

textarea {
  width: 100%;
  max-width: 380px;
  height: 160px;
  resize: none;
}

.socile-media-icons-custom .linked:hover {
  background-color: #0270ad;
  color: #fff;
}

.socile-media-icons-custom .facebook:hover {
  background-color: #2d4b82;
  color: #fff;
}

.processStep span {
  position: fixed;
  z-index: 99999;
  background: #f48303;
  padding: 4px;
  width: 100%;
  height: 48px;
  width: 48px;
  bottom: 48px;
  line-height: 37px;
  right: 10px;
  border-radius: 50%;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.processStep span:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.processStep span .fa {
  font-size: 18px;
  /* margin: 15px 15px ; */
  color: #fff;
}
.modal-body {
  min-height: 100vh;
  background-image: url(../components/assets/images/home-banner.jpg);
  /* padding-top: 170px; */
  background-image: url("../components/assets/images/home-banner.jpg");
  width: 100%;
  background-size: cover;
  margin: 0px;
  position: absolute;
  inset: 0px;

  /* background: rgb(255, 255, 255); */
  overflow: hidden;
  /* border-radius: 4px; */
  outline: none;
  /* padding: 20px; */
  position: absolute;
  inset: 0px;
  /* border: 1px solid rgb(204, 204, 204); */
  /* background: rgb(255, 255, 255); */
  border-radius: 4px;
  outline: none;
  padding: 20px 0;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  /* background-color: rgb(14, 11, 11); */
  background-clip: padding-box;
  border: 1px solid rgba(216, 215, 215, 0.945);
  border-radius: 0rem;
  outline: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  border: none;
  animation-delay: 2s;
}

.modal-dialog {
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  margin: 0 !important;
  transition: all 0.3s;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /* padding: 15rem; */
}

.container.buttons {
  padding-top: 1%;
}
.footer-btn .btn.back {
  position: fixed;
  top: 48%;
  left: 20px;
}
.footer-btn .btn.next {
  position: fixed;
  bottom: 14px;
  right: 100px;
}
.buttons {
  border: none;
  width: 100%;
  margin-bottom: 18px;
}
.btn-one {
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 30px;
  opacity: 2;
  border: 1px solid rgb(88, 87, 85);
  text-decoration: none;
  text-transform: initial;
  background-color: #0000000e;
  font-size: 14px;
   font-weight: lighter;
  border-radius: 50px;
  color: rgb(250, 248, 248);
}
/*  */
.btn-one {
  color: rgb(250, 248, 248);
  transition: all 0.3s;
  position: relative;
  padding: 0px;
  height: 40px;
  width: 320px;
  padding: 5px;
}
.btn-one-steps.btn-one span {
  transition: all 0.5s;
}

.btn-one:hover span {
  font-weight: normal;
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 180px;
  height: 50px;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.footer-btn .back {
  left: 2%;
}

.form-set p {
  padding: -2px 10px 10px 11px;
 }
.form-set select {
  background-color: #090a0c;
  height: 30px;
  padding: 2px;
  color: rgb(202, 191, 191);
  border: 1px solid gray;
}
.form-set input {
  background-color: #090a0c;
  height: 30px;
  color: #7e7e7d;
  border: 1px solid gray;
}

.form-set textarea {
  background-color: #090a0c;
  border: 1px solid gray;
  color: #7e7e7d;
}
.form-set textarea:focus {
  border-color: #f48303;
  background-color: #090a0c;
  color: #7e7e7d;
}

.form-set input[type="email"]:focus {
  background: #090a0c;
}

.form-set label {
  color: #a4a4a4;
  font-weight: 600;
  margin-top: 10px;
}
.form-set input:focus {
  border-color: #f48303;
  transition: all;
  color: #d8d8d6;
  background-color: #090a0c;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  height: 43px;
  margin-top: 0;
}

textarea .form-control {
  max-width: 100%;
  margin-top: 0%;
}
.form-set textarea {
  background-color: #090a0c;
  border: 1px solid gray;
  color: #7e7e7d;
}
.text-area {
  top: 0%;
  width: 100%;
  height: 100px;
}
.row .mt-1.text-left {
  position: relative;
  padding-bottom: 15px;
}
.text-center.start-projects {
  -webkit-user-modify: 800px !important;
}
abbr {
  position: absolute;
  border: 0;
  font-size: 11px;
  color: #b76d6d;
  line-height: 0;
  font-feature-settings: "titl";
  font-variant: titling-caps;
  top: 76px;
  width: 100%;
  left: 16px;
}

@media only screen and (max-width: 991px) {
  .btn-one {
    width: 250px;
  }
  .section-footer h3 {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 460px) {
  ul.footer-services li {
    width: 80% !important;
  }
}
textarea.form-control.spaceFix {
  margin-top: 0px !important;
}

.branch {
  text-align: center !important;
  padding: 0px;
  font-size: 20px;
  color: #fff;
}

.start-project {
  /* min-height: 80vh; */
  text-align: center;
  place-items: center;
  margin: 0 auto;
  /* display: flex; */
  margin-left: auto;
}
.start-projects {
  margin: 0 auto;
}

.valid {
  border: 1px solid gray !important;
}
.invalid {
  border: 1px solid #f48303 !important;
  background-color: tomato;
}
.error input {
  border-bottom: 1px solid #eb516d;
}
/* **************** */
.footer-services li {
  display: flex;
  align-items: end;
  color: #fff;
}
.social-medias {
  padding: 10px 10px;
}
.socile-media-icons-custom .twitter:hover {
  background-color: #000000;
}
.socile-media-icons-custom .pinterest:hover {
  background-color: #e60023;
}
.socile-media-icons-custom .youtube:hover {
  background: #ff0000;
}
