.go-heighlevel-table {
  padding-top: 50px;
  max-width: 700px;
  margin: 0 auto;
}

/* .go-high-level .container {
  max-width: 1300px
} */

.go-heighlevel-table table {
  width: 100%;
}

.go-heighlevel-table td,
.go-heighlevel-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.go-heighlevel-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.go-heighlevel-table tr:hover {
  background-color: #ddd;
}

.go-heighlevel-table thead th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #16416c;
  color: white;
}

.go-highlevel-card-section .row .card:hover {
  box-shadow: 0px 0px 10px 2px rgba(149, 157.00000000000003, 165.00000000000003, 0.26);

}

.image-section-card {
  width: 50px;
}

.go-highlevel-card-section .image-section-card img {
  width: 100%;
}

.go-highlevel-card-section .row .card {
  padding: 20px;
  transition: 0.3s;
  box-shadow: 0px 0px 5px #dddddd91;
  border-radius: 8px;
  height: 100%;
  border: none;
}

.go-highlevel-card-section .row .card p {
  font-size: 14px;
  color: #000;
}

.go-highlevel-card-section .row .card h4 {
  font-size: 20px;
  line-height: 21px;
  font-weight: 700;
  padding-bottom: 20px;
}

.go-highlevel-card-section .row {
  gap: 20px 0px;
}

.second-level-section h3 {
  font-size: 30px;
  font-weight: 500;
  color: #fff !important;
  text-align: left;
  /* text-align: center; */
}

.sub-heading-button {
  font-size: 15px;
}

.trials-btn {
  background-color: #f48303;
  border-radius: 5px;
  letter-spacing: 0;
  text-transform: uppercase;
  text-shadow: 0 0 0 transparent;
  margin-top: 20px;
  padding: 20px 40px;
  font-size: 25px;
  line-height: 20px;
}

.go-high-level .second-level-section:before {
  /* content: ""; */
  position: absolute;
  width: 100%;
  background: #000000d1;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.go-high-level .second-level-section {
  padding: 100px 0 160px;
  background: url(../components/assets/images/gohighlevel2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
.go-high-level
.second-level-section
.right-side-section img{
  border-radius: 12px;
border: 4px solid;
/* border-image: linear-gradient(0deg, rgb(244 131 3), rgb(244 131 3 / 63%), rgba(111, 168, 195, 1), rgb(8 112 214)) 1; */
}

.go-high-level .first-section {
  background-color: #07223d;
  height: 130px;
}

.go-high-level .second-level-section .right-side-section img {
  width: 100%;
  height: auto;
}

.go-high-level .second-level-section .right-side-section {
  max-width: 500px;
  border-radius: 10px;
  overflow: hidden;

}

.business-help {
  background-color: #fff;
}

.business-help h2 strong {
  color: #07223d !important;
  font-size: 20px;
  font-weight: 700;
}

.third-level-section {
  margin-top: -120px;
}

.third-level-section .card-box p {
  color: #fff;
  font-size: 14px;
  padding-bottom: 0;
  text-align: center;
}

.third-level-section .card-box h3 {
  padding-bottom: 0;
  color: #fff;
  font-size: 28px;
}

.third-level-section .card-box {
  text-shadow: 0 0 0 transparent;
  line-height: 1.3em;
  letter-spacing: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #f48303;
  /* background-color: #2896fb; */
  text-align: left;
  color: #fff;
  /* text-align: center; */
}

.heading-title-section h2 {
  font-size: 40px;
}

.heading-title-section p {
  font-size: 18px;
}

.heading-title-section h2,
.heading-title-section p {
  padding-bottom: 0;
  text-align: center;
}

.heading-title-section .text-center {
  position: relative;
}

.heading-title-section .heading-title {
  position: relative;
}

.heading-title-section img {
  margin-left: 150px;
  margin-top: -27px;
  width: 39%;
}

.heading-title-section .heading-title::before {
  background: #F2F9FD;
  content: "";
  height: 250px;
  width: 250px;
  border-radius: 250px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.fourt-level-section .ans-title p {
  color: #fff;
  font-size: 17px;
}

.media-box.custom-img {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fourt-level-section .questiontitle p {
  color: #f48303;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 0;
  text-transform: capitalize;
}

.fourt-level-section {
  margin-top: 100px;
  padding: 50px 0;
  background-color: #07223d;
}


.five-level-section {
  padding: 50px 0;
}

.build-your-project h2 strong {
  font-weight: 900 !important;
}

.build-your-project p.subtitels {
  font-weight: 600;
  color: #000;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 1.3em;
  text-transform: capitalize;
}

.build-your-project p {
  font-size: 16px;
}

.build-your-project h2 {
  font-size: 40px;
}

.go-high-level .arrow-left {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-section-level-section p {
  text-align: center;
  color: #fff;
}

.last-section-level-section {
  text-align: center;
  margin: 50px 0;
}

.last-section-level-section h2 {
  font-weight: 900;
  font-size: 36px;
  color: #fff;
  padding-bottom: 0;
}

.last-section-level-section {
  background-color: #16416c;
  padding: 50px 0;
}

.count-boxcard {
  flex-wrap: wrap;
}

.count-boxcard .card-box {
  margin-bottom: 10px;
}

.go-high-level .container {
  padding: 10px 15px;
}

.fourt-level-section .questiontitle p {
  position: relative;
  margin-bottom: 10px;
}

.fourt-level-section .questiontitle p:before {
  content: "👉";
  width: 17px;
  height: 17px;
}

.trials-btn div {
  font-size: 18px;
}

.trials-btn .sub-heading-button {
  font-size: 12px;
}

.subitems-gohight {}

.icons-level svg {
  /* width: 20px; */
  width: 100%;
  fill: #f48303;
}

.icons-level {
  border-radius: 50%;
  border: 2px solid #f48303;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  line-height: 29px;
  padding: 5px;
}

.media-box.custom-img img {
  max-width: 300px;
}

.media-box.custom-img {
  text-align: center;
}

@media (max-width:768px) {
  .media-box.custom-img {
    text-align: center;
  }

  .High-image,
  .media-box {
    text-align: center;
  }

  .media-box.custom-img {
    margin-top: 10px;
  }

  .High-image img,
  .media-box img {
    margin-top: 15px;
    width: 60%;
  }

  .go-high-level .second-level-section .right-side-section {
    margin: 0 auto;
  }

  .third-level-section {
    margin-top: 30px;
  }

  .heading-title-section h2 {
    font-size: 24px;
  }

  .third-level-section .card-box h3 {
    font-size: 22px;
  }

  .third-level-section .card-box p {
    font-size: 12px;
  }

  .trials-btn {
    font-size: 16px;
    padding: 15px 10px;
  }

  .sub-heading-button {
    font-size: 12px;
  }

  .fourt-level-section .questiontitle p {
    font-size: 18px;
  }

  .fourt-level-section .ans-title p {
    font-size: 14px;
  }

  .build-your-project {
    margin-top: 50px;
  }

  .build-your-project h2 {
    font-size: 24px;
  }

  .build-your-project p.subtitels {
    font-size: 16px;
  }
}

@media (max-width:991px) {
  .count-boxcard .card-box {
    margin-bottom: 10px;
    width: calc(50% - 15px);
  }

  .last-platform-section .heading-title {
    font-size: 30px;
  }

  .go-high-level .arrow-left {
    display: none;
  }

  .nav-item.services-items .nav-link {
    float: inherit;
  }

  .submenuitems-services {
    display: block !important;
    top: 0 !important;
    margin-left: 20px;
    position: inherit !important;
    padding: 0 !important;
  }

  .wave-lines {
    display: none;
  }

  .heading-title-section {
    margin-top: 40px;
  }
}
.calendly-calender iframe{
  display: block;
}
.titlecalender span{
  color: #f48303;
}
.calendly-calender .card .calendly-inline-widget{
  border-top: 1px solid #ddd;
  margin:20px 0px;
}
.calendly-calender .card{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border: none;
  padding: 60px 40px;
  border-radius: 10px;
  transition: 0.3s;
    box-shadow: 0px 0px 5px #dddddd91;
}
.titlecalender{
  text-align: center;
  font-weight: 700;
}
.calendly-inline-widget {
  min-width:100%;
  height: 700px;
}
@media (max-width:600px) {
  .calendly-inline-widget {
      min-width: 100%;
    }
  .count-boxcard {
    justify-content: center !important;
  }

  .count-boxcard .card-box p {
    text-align: left;
  }

  .count-boxcard .card-box {
    margin-bottom: 10px;
    width: calc(51%);
    text-align: left;
  }
}
.go-high-level 
.heading b{
  color: #f48303;
}
.go-high-level 
.heading {
  font-size: 30px;
    font-weight: 500;
    color: #fff !important;
    text-align: left;
    padding-top: 80px;
    padding-bottom: 20px;
}
.subheading-h2 {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: normal;
}

@media (max-width:768px) {
  .go-high-level .heading {
      font-size: 24px;
      padding-top:40px
    }
  
    .subheading-h2 {
      font-size: 14px;
    }
   
    .custom-img,.media-box,.High-image{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
}