/* *********** nasksoft*********** */



p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
b {
  font-family: var(--font-poppins), sans-serif;
}

.bg-dots-img {
  background-image: url('../components/assets/img/bgimg.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 440px;
}

.bg-circle-img {
  position: relative;
}

button {
  outline: none;
}

.bg-circle-img:after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url('../components/assets/img/bg-circule.png');
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  animation: rotate-bg infinite 10s linear;
  position: absolute;
  top: 0;
  z-index: -1;
}

@keyframes rotate-bg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.service-card .square {
  background-image: url('../components/assets/img/bg-square.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: -16px -84px;

}

.service-card:hover .square .text-white {
  color: #000 !important;
}

.service-card .square {

  position: relative;
  z-index: 99;
}

.service-card {
  position: relative;
}

.service-card:hover:after {
  height: 100%;
}

.service-card:after {
  position: absolute;
  width: 100%;
  height: 0%;
  border-radius: 24px;
  left: 0;
  content: "";
  transition: 0.3s;
  background: #fff;
  top: 0;
}

.service-card a {
  top: 40px;
  opacity: 0;
  transition: 0.3s;
  color: #000;
}

.service-card:hover a {
  top: 0px;
  opacity: 1;
}

.about-us-point li:before {
  content: "";
  display: inline-flex;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: linear-gradient(0deg, rgba(105, 109, 243, 1) 0%, rgba(192, 193, 213, 1) 83%);
  box-shadow: 0px 4px 4px #0000004f;
}

.serviceimg {
  background-image: url('../components/assets/image/services-bg.webp');
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}

.gradient-text {
  background: linear-gradient(90deg, #0958B6 0%, #042750 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why-choose-us:after {
  position: absolute;
  content: "";
  background-image: url('../components/assets/img/line.png');
  background-repeat: no-repeat;
  background-position: center;
  top: 120px;
  left: 0px;
  width: 200px;
  height: 70%;
  z-index: -1;

}

.why-choose-us:before {
  position: absolute;
  content: "";
  background-image: url('../components/assets/img/dots.png');
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0px;
  right: 0px;
  width: 120px;
  height: 140px;
  z-index: -1;

}

.why-choose-us {
  position: relative;
}

.services-page {
  position: relative;
}

.services-page:after {
  position: absolute;
  content: "";
  background-image: url('../components/assets/img/desh-line.png');
  background-repeat: no-repeat;
  background-position: center;
  bottom: -115px;
  left: 0px;
  z-index: -1;
  width: 320px;
  height: 321px;
  background-size: contain;
}

.ani-slider-container {
  position: relative;
}


.slide-box-5 {
  border-radius: 26px;
  position: absolute;
  box-shadow: 0px 4px 7.5px 0px #945DFF40;
  width: 96%;
  background: #bdd5e1;
  height: 100%;
  left: 2%;
  top: -4%;
}

.slide-box-4 {      
  border-radius: 26px;
  position: absolute;
  box-shadow: 0px 4px 7.5px 0px #945DFF40;
  width: 92%;
  background: #a1cadf;
  height: 100%;
  left: 4%;
  top: -8%;
}

.slide-box-3 {
  border-radius: 26px;
  position: absolute;
  box-shadow: 0px 4px 7.5px 0px #945DFF40;
  width: 88%;
  background: #73bce1;
  height: 100%;
  left: 6%;
  top: -12%;
}

.slide-box-2 {
  border-radius: 26px;
  position: absolute;
  box-shadow: 0px 4px 7.5px 0px #945DFF40;
  width: 84%;
  background: #3aa5db;
  height: 100%;
  left: 8%;
  top: -16%;
}

.slide-box-1 {
  border-radius: 26px;
  position: absolute;
  box-shadow: 0px 4px 7.5px 0px #945DFF40;
  width: 80%;
  background: #1E96D3;
  height: 100%;
  left: 10%;
  top: -20%;
}

.footer-section {
  position: relative;
}

.ourtechnoloysection:after {
  content: "";
  background-image: url('../components/assets/img/banner3.gif');
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  opacity: 70%;
  z-index: -1;
  bottom: 0;
}

.aboutimg-box:after {
  content: "";
  background-image: url('../components/assets/img/about-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  animation: rotate-bg infinite 20s linear;
  opacity: 15%;

}

.footer-section:after {
  background-image: url('../components/assets/img/footer-dash.png');
  background-size: 70%;
  background-repeat: no-repeat;
  opacity: 14%;
  background-position: 50% -2%;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  z-index: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactus-btn {
  width: 130px;
  transition: 0.3s;
}

.contactus-btn:hover {
  width: 160px;
}

.contactus-btn:hover svg {
  opacity: 1;
  left: 120px;
}

.contactus-btn svg {
  opacity: 0;
  transition: 0.4s;
}

.swiper {
  margin: 100px auto;
  width: 100%;
  height: 240px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide {
  box-shadow: 22px 34px 39px 0px #00000014;
  background-color: #fff;
}

.customslider .swiper-slide {
  height: 100% !important;
}

.customslider.swiper.swiper-initialized {
  padding: 0 !important;
}

.swiper {
  height: auto !important;
}

.customslider {
  border-radius: 26px;
}

.swiper-slide {
  height: 80% !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px !important;
}

.swiper-slide {
  box-shadow: 22px 34px 39px 0px #00000014;
  background-color: #fff;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.customslider .swiper-slide {
  height: 100% !important;
}

.customslider.swiper.swiper-initialized {
  padding: 0 !important;
}

.swiper {
  height: auto !important;
}

.customslider {
  border-radius: 26px;
}

.swiper-slide {
  height: 80% !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #1E96D3 !important;
}

.firstslider-technology .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}

.firstslider-technology {
  padding-bottom: 60px !important;
  background-color: #fff;
  margin: 0 !important;
}

.customslider {
  margin-bottom: 0px;
}



.bg-about-background {
  background-image: url('../components/assets/img/about.gif');
}

/* ***********************about-us********************* */
/* .projects-card:after{
content: "";
width: 200px;
height: 200px;
background-color: #9E5BE4;
position: absolute;
        bottom: -100px;
          left: -140px;
      transform: rotate(45deg);
} */
.our-projects-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../components/assets/img/our-projects.png');
}

.shap-1,
.shap-2,
.shap-3 {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shap-design {
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 100%;
  z-index: -1;
  transition: 0.4s;
}

.our-standards-card:hover .shap-design {
  top: 36%;
  left: 22%;
}

.shap-3 {
  width: 460px;
  height: 460px;
  background-color: #F4F5FE;
}

.shap-2 {
  width: 340px;
  height: 320px;
  background-color: #E6E8FD;
}

.shap-1 {
  width: 140px;
  height: 140px;
  background-color: #CAD0FB;
}

.standards-page {
  background-image: url('../components/assets/img/bg-img-4.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: left top;
}

.marketing-section {
  background-image: url('../components/assets/img/arrow.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left top;
}

.marketingimag {
  animation: updown 2s infinite alternate linear;
}

@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}

.hexagon:hover svg,
.hexagon:hover path {
  fill: #fff;
}

.hexagon:hover {
  background-image: url('data:image/svg+xml,<svg width="146" height="191" viewBox="0 0 146 191" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_812_4091)"><path fill-rule="evenodd" clip-rule="evenodd" d="M73 0L107.494 22.875L142 45.75V91.5V137.25L107.494 160.125L73 183L38.4935 160.125L4 137.25V91.5V45.75L38.4935 22.875L73 0Z" fill="%231e96d3"/></g><defs><filter id="filter0_d_812_4091" x="0" y="0" width="146" height="191" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="4"/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_812_4091"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_812_4091" result="shape"/></filter></defs></svg>');
}

.hexagon svg {
  width: 40px;
}

.hexagon {
  width: 90px;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  height: 120px;
  background-size: 90px;
  background-image: url('data:image/svg+xml,<svg width="158" height="203" viewBox="0 0 158 203" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_812_4186)"><path fill-rule="evenodd" clip-rule="evenodd" d="M79 6L113.494 28.875L148 51.75V97.5V143.25L113.494 166.125L79 189L44.4935 166.125L10 143.25V97.5V51.75L44.4935 28.875L79 6Z" fill="white"/></g><defs><filter id="filter0_d_812_4186" x="0" y="0" width="158" height="203" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="4"/><feGaussianBlur stdDeviation="5"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.17 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_812_4186"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_812_4186" result="shape"/></filter></defs></svg>');
}

.markeing-section {
  width: 500px;
  height: 500px;
}

.markeing-section.box .hexagon {
  animation: reverse-rotate-bg infinite 40s linear;
}

.markeing-section.box {
  animation: right-rotate-bg infinite 40s linear;
}

.markeing-section.box:after {
  content: "";
  width: 500px;
  height: 500px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: block;

}

.hexagon:nth-child(1) {
  top: -45px;
  left: 50%;
  /* transform: translateX(-50%); */
}

.hexagon:nth-child(2) {
  bottom: -45px;
  left: 50%;
  /* transform: translateX(-50%); */
}

.hexagon:nth-child(3) {
  top: 15%;
  left: -0px
}

.hexagon:nth-child(4) {
  right: -0px;
  top: 15%;
}

.hexagon:nth-child(5) {
  bottom: 15%;
  left: -0px
}

.hexagon:nth-child(6) {
  bottom: 15%;
  right: -0px;
}

.client-testimonial .swiper-button-next:after,
.client-testimonial .swiper-button-prev:after {
  font-size: 12px;
  color: #050B20;
}

.client-testimonial .swiper-button-next,
.client-testimonial .swiper-button-prev {
  width: 60px;
  height: 40px;
  border-radius: 40px;
  top: inherit;
  display: flex;
  bottom: 0;
  background: #fff;
}

.client-testimonial .swiper-pagination-bullets {
  display: none;
}

.client-testimonial .swiper-button-next {
  left: 85px;
}

.client-testimonial {
  padding: 60px 0px !important;
}

@media (max-width:1200px) {
  .markeing-section.box,
  .markeing-section.box:after {
    width: 500px;
    height: 500px;
  }
}

@media (max-width:1024px) {
  .markeing-section {
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
}

@media (max-width:620px) {
  .markeing-section {
    width: 300px !important;
    height: 300px !important;
  }
  .markeing-section.box,
  .markeing-section.box:after {
    width: 300px;
    height: 300px;
  }
}
  @media (max-width:768px) {

  .hexagon svg {
    width: 30px !important;
  }

  .hexagon {
    width: 80px;
    height: 100px;
    background-size: 80px;
  }

  .markeing-section {
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }

  .markeing-section:after {
    width: 500px;
    height: 500px;
  }

  .hexagon:nth-child(1) {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hexagon:nth-child(2) {
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .marketing-section {
    background-size: cover;
    /* background-position: left top; */
  }
}

@media (max-width:620px) {
  .hexagon svg {
    width: 24px !important;
  }

  .hexagon:nth-child(3) {
    left: -20px;
    top: 15%;
    /* top: 60px; */
  }

  .hexagon:nth-child(4) {
    right: -20px;
    top: 15%;
    /* top: 60px; */

  }

  .hexagon:nth-child(5) {
    left: -20px;
    bottom: 15%;
    /* bottom: 60px; */
  }

  .hexagon:nth-child(6) {
    right: -20px;
    bottom: 15%;
    /* bottom: 60px; */
  }

  .hexagon {
    width: 55px;
    height: 80px;
    background-size: 50px;
  }

  .markeing-section {
    width: 320px;
    height: 320px;
    margin: 0 auto;
  }

  .markeing-section:after {
    width: 320px;
    height: 320px;
  }

  .hexagon:nth-child(1) {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hexagon:nth-child(2) {
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

}



@keyframes reverse-rotate-bg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes right-rotate-bg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes rev-right-rotate-bg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.contactus-form textarea,
.contactus-form input {
  border: 0px;
  border-bottom: 1px solid #8D8D8D !important;
  box-shadow: none !important;
  border-radius: 0px;
}

@media (max-width:768px) {
  .mobile-header .mymenu-items li a {
    color: #fff !important;
  }
}

.service-section {
  position: relative;
}

.service-section:after {
  content: "";
  background-image: url('../components/assets/img/round-shappe.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: -230px;
  width: 520px;
    height: 520px;
  animation: right-rotate-bg infinite 40s linear;
  z-index: 0;
}
.services-card:hover svg,
.services-card:hover a,
.services-card:hover p,
  .services-card:hover h5{
  color: #fff;
  stroke: #fff;
}
.services-card:hover:after{
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}
  .services-card:after{
  content: "";
  width: 200px;
  height: 200px;
  background-image: url('../components/assets/img/round-shappe.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
  transition: 0.6s;
}
  .services-card:hover .bg-color-card{
  z-index: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.bg-color-card{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  background-color: #1E96D3;
  border-radius: 20px;
  transition: 0.3s;
}
.services-border{
  position: relative;
}
.services-border:after{
  content: "";
  left: -8px;
  top: -8px;
  position: absolute;
width: calc(100% + 16px);
height: calc(100% + 16px);
border: 2px dashed #696DF3;
border-radius: 50%;

border-radius: 50%;
animation: right-rotate-bg infinite 30s linear;
}
.work-Process:after{
  width: 15px;
  height: 15px;
  border: 1px solid #1e96d3;
  background-color: #fff;
  z-index: 99;
  border-radius: 50%;
  position: absolute;
  content: "";
  top: -7px;
}
  .work-Process:hover{
  animation: right-rotate-bg infinite 2s linear;

  }
    .work-Process{
  animation: right-rotate-bg infinite 11s linear;
}
.work-2{
  animation: right-rotate-bg infinite 10s linear;
}
.work-3{
  animation: right-rotate-bg infinite 12s linear;
}
.work-4{
  animation: right-rotate-bg infinite 14s linear;
}
.workflow-section{
  background-image: url('../components/assets/img/border-wave.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center 90px;
}
.contact-us-bg{
  position: relative;
  background-color: #000;
  background-image: url('../components/assets/img/contactus.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  .connect-section{
    position: relative;
  }
    .connect-section:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
  background-image: url('../components/assets/img/conectus.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  opacity: 10%;
}
.bisiness-domainsname:hover p,
.bisiness-domainsname:hover h5,
.bisiness-domains:hover h5,
.bisiness-domains:hover p{
  color: #fff;
}
.bisiness-domains{
position: relative;
}
.bisiness-domains:hover:after{
  width: 120px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}
.bisiness-domainsname:hover:after{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
  .bisiness-domains:hover:before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
    .bisiness-domains:hover:before{
      opacity: 1;
    }
      .bisiness-domains:before{
      opacity: 0;
    clip-path: none !important;
    transition: 0.4s !important;
    }
    .bisiness-domainsname:after,
    .bisiness-domains::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1E96D3;
    right: 0;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.8s;
    z-index: 0;
    border-radius: 16px;
  }
  .bisiness-domains::before{
    border-radius: 8px;
  }
    .bisiness-domains:nth-child(odd):after{
      left: 0;
      top: 0;
    }
    .bisiness-domains:nth-child(even):after{
      right: 0;
      top: 0;
    }
    .bisiness-domains:hover:after{
      width: 120px;
  height: 140px;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    }
      .bisiness-domains:after{
  content: "";
  width: 0px;
  height: 0px;
  background-image: url('../components/assets/img/round-shappe.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
  transition: 0.8s;
}
  .bisiness-domains:hover{
}
.bisiness-domains:hover .services-border:after {
  border-color: #fff;
  animation: rev-right-rotate-bg infinite 10s linear !important;
}

  .business-section:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 40%;
    left: -20%;
    z-index: 0;
    top: 0;
  background-image: url('../components/assets/img/circle.png');
  background-repeat: no-repeat;
}
.text-border-bg{
  -webkit-text-stroke: 1px #D0CECE;
}
.workprocess{
  position: relative;
  overflow: hidden;
}

.workprocess:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 200%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent 4px,
    #0000007d 4px,
    #0000007d 12px
  );
  animation: moveDash 52s linear infinite;
}
@keyframes moveDash {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
.bisiness-domainsname:nth-child(1):before,
.bisiness-domainsname:nth-child(2):before,
.bisiness-domainsname:nth-child(3):before{
  bottom: -20px;
  transform: rotate(270deg) translateX(-50%) ;
  animation: updoundash 2s linear infinite;


}
.bisiness-domainsname:nth-child(4):before,
.bisiness-domainsname:nth-child(5):before,
.bisiness-domainsname:nth-child(6):before{
  top: -18px;
  transform: rotate(90deg) translateX(-50%) ;
  animation: reupdoundash 2s linear infinite;


}
  .bisiness-domainsname:before{
   content: "";
  position: absolute;
  height: 3px;
  width: 40px;
  left: calc(50% - 30px);
  transform: translateY(-50%);
  background: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent 4px,
    #0000007d 4px,
    #0000007d 12px
  );
}
.bisiness-domainsname{
  border: 1px solid #FC658C;
}
/* animation: moveDash 52s linear infinite; */
@keyframes updoundash {
  0% {
    transform: rotate(270deg) translateX(-50%);
  }
  100% {
    transform: rotate(270deg) translateX(0%);
  }
}
@keyframes reupdoundash {
  0% {
    transform: rotate(90deg) translateX(-50%);
  }
  100% {
    transform: rotate(90deg) translateX(0%);
  }
}


  .technology-use:after{
  content: "";
  width: 100%;
  height: 100%;
  clip-path: polygon(53% 100%, 64% 100%, 100% 70%, 100% 100%, 0 100%, 0 70%, 41% 99%);
  /* clip-path: polygon(50% 90%, 100% 80%, 100% 100%, 0 100%, 0 80%); */
  background: #1E96D3;
  z-index: 0;
  position: absolute;
  bottom: 24px;
  z-index: 9;
}
.our-technology{
   /* background-image: url('../components/assets/img/curvecard.png');
   background-repeat: no-repeat;
   background-size: 100%;
   text-align: center;  */
}


.bisiness-domainsname:nth-child(1) .scrolldown-btn,
.bisiness-domainsname:nth-child(2) .scrolldown-btn,
.bisiness-domainsname:nth-child(3) .scrolldown-btn{
  bottom: -50px;
  transform: translateX(-50%) rotate(180deg);

}
.bisiness-domainsname:nth-child(4) .scrolldown-btn,
.bisiness-domainsname:nth-child(5) .scrolldown-btn,
.bisiness-domainsname:nth-child(6) .scrolldown-btn{
  top: -50px;
  transform: translateX(-50%) rotate(0deg);
}

.scrolldown-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(50% - 10px);
  text-align: center;
}

.scrolldown-btn svg path{
  fill: #0000007d ;
}
  .scrolldown-btn svg {
  width: 20px;
  height: 40px;
  fill: #0000007d ;
}

.first-path {
  animation: scrollanim 1s ease-in-out infinite;
  animation-delay: 0.8s;
  fill: #FFFFFF;
}

.second-path {
  animation: scrollanim2 1s ease-in-out infinite;
  fill: #FFFFFF;
}

@keyframes scrollanim {
  0% {
      transform: translateY(-40px);
      opacity: 0;
  }
  60% {
      transform: translateY(0);
      opacity: 0.8;
  }
}

@keyframes scrollanim2 {
  0% {
      transform: translateY(-40px);
      opacity: 0;
  }
  60% {
      transform: translateY(0);
      opacity: 0.6;
  }
}
/* .shadowbottom:after{
  content: "";
  position: absolute;
} */
.servicedeatils-slider{
  position: relative;
}
.servicedeatils-slider:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: transparent;
  box-shadow: -1px 8px 20px #0000004a;}

  .servicedeatils-slider .swiper {
    padding-top: 40px;
    margin: 0;
  }

.servicedeatils-slider .swiper .swiper-slide{
  background-color: transparent;
  margin: 0 0px;
  box-shadow: none;
}
.servicedeatils-slider .swiper .swiper-slide{
  box-shadow:  none !important;
}
.servicedeatils-slider .swiper-wrapper{
  gap: 0px;
}
.boxshadowdesign{
  position: relative;
}
.boxshadowdesign:before {
  content: "";
  position: absolute;
  width: calc(100% - 100px);
  height: 10px;
  bottom: 0px;
  background: transparent;
  box-shadow: 2px 7px 19px #00000069;
  left: 40px;
  border: none;
}
@media (max-width:1024px) {
.bisiness-domains .services-border svg{
  width: 30px;
  height: 30px;
}
.why-choose-us:before {
  width: 50px;
  height: 50px;
}
}
@media (max-width:1024px) {
  .servicedeatils-slider {
    max-width: 540px;
  }
}
  @media (min-width:991px) {
    
  .servicedeatils-slider .swiper {
    padding-top: 40px;
    margin: 0;
  }
  .servicedeatils-slider .swiper-slide{
    overflow: unset !important;
  }
    .servicedeatils-slider .swiper-slide{
      z-index: 0;
    }
      .servicedeatils-slider .swiper-slide.swiper-slide-active .our-technology{
        top: 10px;
      }
      .servicedeatils-slider .swiper-slide.swiper-slide-active{
      z-index: 999;
    }
      .servicedeatils-slider .swiper-slide.swiper-slide-active .rectanglecurve1{
    transform: scale(134%);
    }
}
  @media (max-width:991px) {
    .servicedeatils-slider:after{
      height: 20px;
      background: #1d91cc;
      }
.why-choose-us:after {
  display: none;
}
  .slide-box-5 {
    top: -2%;
  }
  .slide-box-4 {      
    top: -4%;
  }
  .slide-box-3 {
    top: -6%;
  }
  .slide-box-2 {
    top: -8%;
  }
  .slide-box-1 {
    top: -10%;
  }
.about-us-point li:before {
width: 12px;
height: 12px;
}
.swiper,
  .swiper.mySwiper.customslider{
  margin: 40px auto;
}
.client-testimonial{
  padding-top: 40px !important;
}
.mySwiper.customslider .swiper-slide{
  padding: 16px !important;
}
  .mySwiper.client-testimonial .swiper-slide{
  padding: 20px !important;
}
  }
  @media (max-width:1023px) {
    .scrolldown-btn {
      display: none;
    }
    .workprocess:after,
    .bisiness-domainsname:before{
    content: none;
    }
    
   svg.process-icon{
    width: 40px;
    }
    .workflow-section{
    background-position: center 60px;
  }
  }
  @media (max-width:767px) {

    .workflow-section{
      background-image: none !important;
    }
  }
  @media (max-width:768px) {
    .mySwiper.client-testimonial .swiper-slide{
      padding: 10px !important;
    }
    .custom-counter {
      padding: 10px !important;
    }
    .firstslider-technology .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
    }
     .why-choose-us:before {
      opacity: 15%;
     }
     .serviceimg{
      background-image: none;
     }
     .services-page:after{
      bottom: 0;
      display: none;
     }
     .marketing-section {
      background-size: 100%;
      background-position: left top !important;
      /* background-position: center; */
  }
  }
  .myprojects-slider .swiper-slide{
box-shadow: none;
border-radius: 8px;
  }
  @media (max-width:1200px) { 
    .marketing-section {
      background-size: cover;
      background-position: center;
  }
  }
  @media (max-width:400px) { 
    .markeing-section {
      width: 240px !important;
      height: 240px !important;
    }
    .markeing-section.box,
    .markeing-section.box:after {
      width: 240px;
      height: 240px;
    }
    .hexagon {
      width: 45px;
      height: 70px;
      background-size: 40px;
  }
  .markeing-section p{
    font-size: 12px;
    padding-top: 6px !important;
  }
    .markeing-section h5{}
      .markeing-section h4{
        font-size: 18px !important;
        line-height: 24px;

  }
  
  }
