

/* *********** nasksoft*********** */



p,h1,h2,h3,h4,h5,h6,div,span,b{
  font-family: var(--font-poppins), sans-serif;
}
.bg-dots-img{
  background-image: url('../components/assets/img/bgimg.png');
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 440px;
}
.bg-circle-img{
  position: relative;
}
  .bg-circle-img:after{
    content: "";
    width: 100%;
    height: 100%;
  background-image: url('../components/assets/img/bg-circule.png');
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  animation: rotate-bg infinite 10s linear;
  position: absolute;
  top: 0;
  z-index: -1;
}
@keyframes rotate-bg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.service-card .square{
  background-image: url('../components/assets/img/bg-square.png');
  background-size: 200px;
    background-repeat: no-repeat;
    background-position: -16px -84px;
  
}
.service-card:hover .square .text-white{
  color: #000 !important;
}
.service-card .square{

  position: relative;
  z-index: 99;
}
  .service-card{
  position: relative;
}
.service-card:hover:after{
  height: 100%;
}
.service-card:after {
    position: absolute;
    width: 100%;
    height: 0%;
    border-radius: 24px;
    left: 0;
    content: "";
    transition: 0.3s;
    background: #fff;
    top: 0;
  }
.serviceimg{
  background-image: url('../components/assets/img/services-bg.png');
  background-size: 44%;
    background-repeat: no-repeat;
    background-position: center;
}
.gradient-text{
    background: linear-gradient(90deg, #0958B6 0%, #042750 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.why-choose-us:after{
  position: absolute;
  content: "";
  background-image: url('../components/assets/img/line.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 120px;
    left: 0px;
    width: 200px;
    height: 70%;
    z-index: -1;

}
.why-choose-us:before{
  position: absolute;
  content: "";
  background-image: url('../components/assets/img/dots.png');
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0px;
    right: 0px;
    width: 120px;
    height: 140px;
    z-index: -1;

}
.why-choose-us{
  position: relative;
}
.services-page{
  position: relative;
}
.services-page:after{
  position: absolute;
  content: "";
  background-image: url('../components/assets/img/desh-line.png');
    background-repeat: no-repeat;
    background-position: center;
    bottom: -115px;
    left: 0px;
    z-index: -1;
    width: 320px;
    height: 321px;
    background-size: contain;
}
.ani-slider-container{
  position: relative;
}


.slide-box-5{
  border-radius: 26px;
  position: absolute;
  box-shadow: 0px 4px 7.5px 0px #945DFF40;
  width: 96%;
  background: #F1EBFF;
  height: 100%;
  left: 2%;
  top: -4%;
}

.slide-box-4{
  border-radius: 26px;
  position: absolute;
  box-shadow: 0px 4px 7.5px 0px #945DFF40;
  width: 92%;
  background: #E3D4FF;
  height: 100%;
  left: 4%;
  top: -8%;
}
.slide-box-3{
  border-radius: 26px;
  position: absolute;
  box-shadow: 0px 4px 7.5px 0px #945DFF40;
  width: 88%;
  background: #CEB4FF;
  height: 100%;
  left: 6%;
  top: -12%;
}
.slide-box-2{
  border-radius: 26px;
  position: absolute;
  box-shadow: 0px 4px 7.5px 0px #945DFF40;
  width: 84%;
  background: #B893FF;
  height: 100%;
  left: 8%;
  top: -16%;
}
.slide-box-1{
  border-radius: 26px;
  position: absolute;
  box-shadow: 0px 4px 7.5px 0px #945DFF40;
  width: 80%;
  background: #9F6EFF;
  height: 100%;
  left: 10%;
  top: -20%;
}