.lifeAtElicit_bgpage {
  background: #000;
  height: 100%;
  width: 100%;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 60px;
  position: relative;
}
.lifeAtElicit_bgpage p{
  color: #fff;
}

.lifeAtElicit_bgpage h1 {
  padding-top: 40px;
  color: #fff;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.2;
  letter-spacing: 2px;
}
.lifeAtElicit_bgpage h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.image-gallery > li {
  list-style: none;
  flex-basis: 350px; /* width: 350px; */
}
.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.singal-gallery {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  gap: 10px;
}

.singal-gallery > li {
  list-style: none;
  /* flex-basis: 350px; */
}

.singal-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.sectionEvents{
  padding: 120px 0px;
}
.sectionEvents h2{
  font-size: 30px;
  padding-bottom: 15px;
}
.sectionEvents h4{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 0px;
  padding-top: 10px;
  color: #fff;
}
.sectionEvents p{
  font-size: 16px;
  color: #565555;
  text-align: justify;
}
.elicitEventsTwo{
  background-color: #f2f2f2;
}

.text-vertical-align{
  font-family: 'Courgette', cursive;
  writing-mode: vertical-rl;
  font-size: 20px;
  width: auto;
  text-align: left;
  height: 150%;
   position: absolute;
}
/**************************elicitEventsTwo**************************/
.elicitEventsTwo .image-gallery > li {
  list-style: none;
  flex-basis: 49%; 
}

/*********************************elicitEventsThree******************/
.elicitEventsThree{
  background-color: #f2f2f2;
}
.elicitEventsThree .singal-gallery{
  height: auto;
}

/*************************elicitEventsfour**************************/
.elicitEventsfour .singal-gallery{
  height: auto;
}
.elicitEventsfour .image-gallery > li {
  list-style: none;
  flex-basis: 49.1%; 
}
.elicitEventsfour h2, .elicitEventsfour p{
  color: #fff;
}

.elicitEventsfive{
  background-color: #f2f2f2;
  position: relative;
  z-index: 0;
}
.elicitEventsfive:after{
  position: absolute;
  left: 0px;
  content: "";
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
}
.elicitEventsfive .singal-gallery{
  height: auto;
}
.elicitEventsfour{
  position: relative;
  z-index: 0;
}
.galleryTopSpacimg{
   padding-top: 10px;
}
.elicitEventsfour:after{
  position: absolute;
  content: "";
  left: -50%;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #252b33;
}
.elicitEventsfive .image-gallery > li {
  list-style: none;
  flex-basis: 32%; 
}

@media (max-width: 1199px) {
  .elicitEventsfour .image-gallery > li{
    flex-basis: 49%;
  }
}
@media (max-width: 991px) {
  .elicitEventsfive{
    background-color: #fff;
  }
  .elicitEventsfive:after{
     display: none;
  }
  .elicitEventsfour:after{
    left: 0px;
  }
}
@media (max-width: 767px) {
  .elicitEventsfive .image-gallery > li {
    flex-basis: 46%;
}
  .elicitEventsTwo .image-gallery > li, .elicitEventsfour .image-gallery > li{
    flex-basis: 48.8%;
  }
  .sectionEvents{
    padding: 60px 0px;
  }
  .elicitEventsOne .image-gallery > li{
    flex-basis: 29%;
    margin-top: 10px;
  }
}
@media (max-width: 568px) {
  .lifeAtElicit_bgpage h1{ font-size: 35px; margin-bottom: 15px;}
}
@media (max-width: 480px) {
  .elicitEventsTwo .image-gallery > li, .elicitEventsfour .image-gallery > li{
    flex-basis: 48.6%;
  }
}
@media (max-width: 400px) {  
  .elicitEventsTwo .image-gallery > li, .elicitEventsfour .image-gallery > li{flex-basis: 48%;}
  .elicitEventsOne .image-gallery > li{ flex-basis: 100%;}
  .elicitEventsOne .row .row [class*="col-"]{ padding: 0px;}
}
@media (max-width: 380px) {
  .elicitEventsTwo h2{ font-size: 24px;}
  .elicitEventsfive h2{ font-size: 24px;}
}