.service_container {
  background: url(../components/assets/images/dark-img.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.service_container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border: 0;
  background-color: #00000087;
  color: white;
}

.service_col_title {
  padding: 0;
  margin-top: 7%;
}

h3.dbl_subtitle {
  color: #fff;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 19px;
  font-weight: bold;
}

.img-icon-for-ser {
  width: 102px;
  padding-top: 20px;
  margin: 0 auto;
}

.img-icon-for-ser .port-folio-img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.dbl_subtitle {
  color: #1f173a;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 19px;
  font-weight: bold;
}

.dbl__title-wrapper {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 700;
  color: #fff;
  font-size: 45px;
  padding-right: 8%;
}

.services-custom-text-editor p {
  /* font-family: "Montserrat", sans-serif; */
  box-sizing: border-box;
  font-size: 17px;
  line-height: 1.875;
  margin-top: 20px;
  color: #fff;
}

/* .tabpage-service {
  margin: 20px auto;
} */

.bg_img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border: 0;
  background-color: #00000087;
}

.col-lg-6.col-md-12.col-sm-12.subtitle-tab .dbl__title-wrapper {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 700;
  color: #000;
  font-size: 30px;
  padding-right: 8%;
}

.elementor-clearfix {
  color: #fff;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 19px;
  font-weight: bold;
  padding-top: 50px;
  z-index: 999;
}

.slider-services {
  width: 600px !important;
  margin: 0 auto;
  padding-bottom: 30px;
}

.slider-services h4 {
  text-align: center;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 19px;
  font-weight: bold;
  padding: 20px 0;
}

.slider-services .carousel-inner {
  height: auto;
}

.slider-services a.carousel-control-prev,
.slider-services a.carousel-control-next {
  display: none;
}

.slider-services p {
  text-align: left !important;
}

.slider-services .img-div {
  border-radius: 50%;
  text-align: center;
}

.slider-services .carousel-control-prev-icon,
.slider-services .carousel-control-next-icon {
  opacity: 1 !important;
}

.slider-services img.d-block.w-80 {
  width: 350px !important;
  height: auto;
  margin: 0 auto;
}

.service-icon-row {
  margin-top: 20%;
}

.container-icon {
  margin-top: 15%;
}

.img_computer {
  margin-top: 45px;
  height: 25rem;
  margin-bottom: 20px;
}

.icon_first {
  padding: 48px 30px 47px 30px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 7px 5px 30px 0px rgb(0 0 0 / 12%);
  margin-right: 10%;
  text-align: center;
  margin-bottom: 10%;
}

.icon_first:hover {
  box-shadow: 0 0px 0px 1px rgb(0 0 0 / 12%);
  transition: 0.3s;
}

.icon_second:hover {
  box-shadow: 0 0px 0px 1px rgb(0 0 0 / 12%);
  transition: 0.3s;
}

.icon_third:hover {
  box-shadow: 0 0px 0px 1px rgb(0 0 0 / 12%);
  transition: 0.3s;
}

.icon_second {
  padding: 48px 15px 47px 20px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 7px 5px 30px 0px rgb(0 0 0 / 12%);
  margin-right: 3%;
  text-align: center;
  margin-bottom: -60%;
}

.icon_third {
  padding: 48px 30px 47px 30px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 7px 5px 30px 0px rgb(0 0 0 / 12%);
  margin-right: 54%;
  text-align: center;
}

.service-img {
  height: 50px;
  width: 50px;
  margin-bottom: 30px;
}

.wgl-infobox_title {
  margin: 17px 0px 7px 0px;
  line-height: 1.5;
  word-break: break-word;
  transition: 0.4s;
  text-shadow: rgb(88, 88, 88);
  color: #1f173a;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 21px;
  font-weight: bold;
  padding-top: 50px;
}
.serviceFocus {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-section-container {
  margin-top: 10px;
}

.service-container-head-row {
  margin-top: 14%;
}

.subtitle-tab {
  padding: 0;
  margin-top: 60px;
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&family=Nunito:wght@200;400&display=swap"); */

.icon_text-para {
  line-height: 1.875;
  font-weight: 400;
  margin-top: 25px;
  /* font-family: "Montserrat", sans-serif; */
  box-sizing: border-box;
  font-size: 17px;
  line-height: 1.875;
  color: grey;
}

/* **************************** */
@media only screen and (max-width: 600px) {
  .slider-services {
    width: 300px !important;
  }

  .slider-services img.d-block.w-80 {
    width: 300px !important;
  }
}

/* *-*************** */
.scroll-down-button {
  bottom: 25px;
  color: #3555ff;
  display: flex;
  justify-content: center;
  height: auto;
  left: 45%;
  right: auto;
  opacity: 1;
  padding: 0;
  position: absolute;
  width: 200px;
  z-index: 100;
  background: #333333;
}

.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100vh;
}

.bg-01 {
  background: blue;
}

.elementor-clearfix a {
  color: #fff;
  z-index: 999;
}

.bg-02 {
  background: yellow;
}

/*------------pawan css slider start-----------*/
.slider-services.new-slide {
  width: 100% !important;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 77px;
}
.slider-services.new-slide a.carousel-control-prev,
.slider-services.new-slide a.carousel-control-next {
  display: flex;
  top: 80%;
  z-index: 999;
  /* width: 100%; */
  /* right: -51px; */
}
a.carousel-control-prev {
  left: 46%;
  position: absolute;
}
.new-slide .carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #b383ff;
}
.backgornd-img-set {
  border: 4px dashed #000000;
  border-radius: 12px;
  position: relative;
}
/* .slider-services.new-slide p {
  font-size: 17px;
  line-height: 30px;
} */
/* .slider-services.new-slide p.title-name {
  font-size: 14px;
} */
/* .slider-services.new-slide h4 {
  text-align: left;
  font-size: 30px;
  line-height: 1.5;
} */
.back-background img {
  width: 400px !important;
}
/* ********************* */
.new-slide .carousel-indicators {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  /* display: -ms-flexbox; */
  /* display: inline-flex; */
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 0%;
  margin-left: 32%;
  list-style: none;
  transform: rotate(90deg);
  width: 100%;
}
.new-slide .frent-screen {
  position: absolute;
  width: 100%;
  right: 0px;
  top: 0px;
  border-radius: 10px;
  background: #000000c2;
  height: 100%;
}
/* .frent-screen img {
    padding: 66px;
} */

@media only screen and (max-width: 767px) {
  /*.new-slide .back-background img {
        width: unset;
        height: unset;
    }*/
  .backgornd-img-set {
    padding-bottom: 33px;
  }
  .slider-services.new-slide h4 {
    text-align: left;
    font-size: 22px;
    line-height: 1.5;
  }
  .slider-services.new-slide p {
    font-size: 14px;
    line-height: 33px;
    padding-bottom: 58px;
  }
  .new-slide .carousel-indicators {
    display: none !important;
    justify-content: center;
    padding-left: 0;
    margin-right: 0%;
    margin-left: 0%;
    list-style: none;
    transform: rotate(180deg);
    width: 100%;
    left: 0px;
  }
  .new-slide .frent-screen {
    right: 0px;
  }
  .slider-services.new-slide a.carousel-control-prev,
  .slider-services.new-slide a.carousel-control-next {
    background: black;
    color: white;
    height: 50px;
    opacity: 1;
    width: 50px;
    right: 0;
    top: 25%;
    z-index: 999;
    position: absolute;
    display: inline-block;
    display: none;
  }
  .slider-services.new-slide .carousel-control-prev-icon,
  .slider-services.new-slide .carousel-control-next-icon {
    opacity: 1 !important;
    filter: unset;
  }
}

.section-services .col-lg-3.col-sm-6 {
  padding-left: 0;
}
.portfolio-img {
  overflow: hidden;
  box-shadow: 0px 0px 10px;
  background-color: #fff;
  border-radius: 14px;
  padding: 5px;
  padding: 0;
  text-align: center;
  min-height: 250px;
  position: relative;
  margin: 10px 0;
}
.portfolio-imgs {
  padding: 10px;
}
.circle-portfolio li:nth-child(1) {
  border-radius: 50%;
  width: 211px;
  height: 173px;
  right: -62px;
  background-image: linear-gradient(135deg, #3d89d545 104%, #f18306 1%);
  bottom: -20px;
  z-index: 2;
}
.circle-portfolio li:nth-child(2) {
  border-radius: 50%;
  width: 157px;
  height: 161px;
  right: -52px;
  background-image: linear-gradient(135deg, #3d89d545 104%, #f18306 1%);
  z-index: 3;
  bottom: -34px;
}
.circle-portfolio li:nth-child(3) {
  border-radius: 50%;
  width: 147px;
  height: 142px;
  right: -73px;
  background-image: linear-gradient(135deg, #3d89d545 104%, #f18306 1%);
  z-index: 4;
  bottom: -54px;
}
.port-folio-content h4 {
  color: #fff;
}
.port-folio-content p {
  color: #fff;
  padding-bottom: 0;
  font-size: 14px;
  position: relative;
  z-index: 9999;
}
.portfolio-imgs h3 {
  margin-top: 25px;
  font-size: 15px;
}
.section-services h3 {
  color: #1f173a;
  font-weight: bold;
}
.col-lg-3 .portfolio-img:hover .port-folio-content {
  clip-path: circle(141.4% at 100% 0);
  background-image: linear-gradient(135deg, #3d89d5 0, #21405e 0%);
  height: 100%;
  width: 100%;
  overflow: auto;
  transition: 0.9s;
}
.col-lg-3 .portfolio-img:hover .circle-portfolio li {
  opacity: 1;
  transition: 1.2s;
}
.circle-portfolio li {
  opacity: 0;
  position: absolute;
}

.circle-portfolio {
  list-style: none;
}
.img-icon-for-ser {
  width: 102px;
  padding-top: 20px;
  margin: 0 auto;
}
.port-folio-content {
  transition: 0.9s;
  background-image: linear-gradient(135deg, #3d89d5 0, #21405e 0%);
  height: 100%;
  width: 100%;
  overflow: auto;
}
.port-folio-content {
  clip-path: circle(0% at 100% 0);
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 10px;
}
.port-folio-content p {
  padding-bottom: 0;
  font-size: 15px;
}

.slider-lifeElicit .control-arrow.control-prev {
  display: flex;
  top: 80%;
  z-index: 999;
  left: 46%;
  position: absolute;

  opacity: 1;
  align-items: center;
  height: 35px;
  width: 55px;
  justify-content: center;
  margin-left: 60px;
}
.slider-lifeElicit .control-arrow.control-next:before,
button.control-arrow.control-prev:before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%237f7f7f" viewBox="0 0 8 8"><path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"/></svg>');
  width: 21px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: invert(1) grayscale(100);
  border: 0px !important;
}
.slider-lifeElicit .control-arrow.control-next:before {
  transform: rotate(180deg);
}
.slider-lifeElicit .control-arrow.control-next {
  display: flex;
  top: 80%;
  z-index: 999;
  right: 0%;
  position: absolute;
  opacity: 1;
  align-items: center;
  height: 35px;
  width: 55px;
  justify-content: center;
}
.service-slider {
  padding-top: 60px !important;
  padding-bottom: 30px !important;
}
/*------------pawan css slider end-----------*/

@media (max-width: 767px) {
  .slider-services.new-slide p {
    text-align: center !important;
  }
  .slider-services.new-slide h4 {
    text-align: center;
  }
  .col-lg-6.col-md-12.col-sm-12.subtitle-tab .dbl__title-wrapper {
    text-align: center;
  }
}
.notFounnd {
  width: 50%;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

/* @media (min-width: 767px) and (max-width: 991px) {
   
} */
.control-arrow{
  display: none;
}
@media (max-width: 768px) {
  .alignfont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .dbl_subtitle {
    margin-right: 60px;
  }
  .service-slider-tab {
    flex-direction: column;
    border: none;
  }
  .content-margin {
    margin-top: 110px !important;
  }
  .slider-lifeElicit .control-arrow.control-next,
.slider-lifeElicit button.control-arrow.control-prev{
  display: none !important;
}
}
@media (max-width: 480px) {
 
  .dbl_subtitle {
    margin-right: 30px;
  }
 .col-connect{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
}


